.organizer-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    gap: 1rem;
    width: 100%;
    max-width: 72rem;
    margin: 0 auto;
    padding: 1rem;
}

#product-filter, #sort-by {
    padding-left: 0.5rem;
    padding-right: 3rem;
    width: 16rem;
    height: 2.5rem;
    border-radius: 8px;
    border-color: var(--color3);

    -webkit-appearance: none; 
    -moz-appearance: none;    
    appearance: none;
}

@media (min-width: 768px) {
    .organizer-container {
        flex-direction: row;
        justify-content: space-between;
    }
}

@media (min-width: 1024px) {
    .organizer-container {
        padding-top: 3rem;
    }
}