.home-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh);
    min-height: 41rem;
}
.shop-now {
    overflow: hidden;
    background-color: #211C24;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 16rem;
}

.shop-now-text {
    max-width: 30rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    padding-top: 2rem;

}

h1.white, h3.white {
    color: var(--color-white);
}
h3.white.dim {
    opacity: 0.5;
}

.shop-now-image {
    width: 100%;
    max-width: 20rem;
    margin: 0 auto;
    padding-bottom: 5rem;
}

@media (min-width: 768px) {
    .home-body {
        height: 39.5rem;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .shop-now-image {
        width: 100%;
        margin: 0;
    }
    .shop-now {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }
    .shop-now-text {
        padding-right: 1rem;
    }
}

@media (min-width: 1024px){
    .shop-now-text {
       padding-right: 0;
    }
    .shop-now{
        justify-content: space-between;
        padding-left: 7rem;
        padding-right: 7rem;
    }
    .catalog {
        gap: 0;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, auto);

        grid-template-areas:
        "playstation playstation macbook macbook"
        "airpods vision macbook macbook";
    }
}

@media (min-width: 1220px) {
    .shop-now{
        justify-content: center;
        gap: 10rem;
    }
}