.toast {
    position: fixed;
    bottom: 1.5rem;
    left: 50%;
    min-width: 15rem;
    transform: translateX(-50%);
    background-color: var(--color-white);
    padding: 1rem 1rem;
    border-radius: 1rem;
    text-align: center;
    opacity: 0;
    animation: fadeInOut 3s forwards;
    z-index: 999;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
        transform: translateX(-50%) translateY(1.5rem);
    }
    10%, 90% {
        opacity: 1;
        transform: translateX(-50%) translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateX(-50%) translateY(1.5rem);
    }
}