.main-content {
  min-height: calc(100vh);
  display: block;
  padding-top: 5.5rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1;
  overflow: auto;
}


@media (min-width: 1024px) {
  .main-content {
    padding-top: 8.5rem;
  }
}
